<!DOCTYPE html>
<html>
	<title>Cadastro de Pessoas e Setores</title>
	<head>
		<div style="background: blue; color: white; top: 0px; padding: 10px">
			Cadastro de Pessoas e Setores
		</div>	
	</head>
	<body>
      <form action="salvarPessoa" method="post">
         <div>
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" placeholder="Nome" />
         </div>
         <div>
            <label for="setor">Setor</label>
            <input type="text" id="setor" name="setor" palceholder="setor" />
         </div>
         <div>
            <button type="submit" >Salvar</button>
         </div>         
      </form>
	</body>
</html>